1 VERSIONINFO
FILEVERSION     2,0,3,0
PRODUCTVERSION  2,0,3,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "CMT - Motores Termicos"
      VALUE "FileDescription", "OpenWAM -  the free, open source 1-dimensional gas-dynamic code produced by CMT- Motores Termicos of the Universitat Politecnica de Valencia"
      VALUE "FileVersion", "2.0.3"
      VALUE "InternalName", "OpenWAM"
      VALUE "LegalCopyright", "(C) 2014 CMT - Motores Termicos.  Universitat Politecnica de Valencia"
      VALUE "OriginalFilename", "OpenWAM.exe"
      VALUE "ProductName", "OpenWAM Internal"
      VALUE "ProductVersion", "2.0.3"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

101 ICON DISCARDABLE "Icon.ico"
