#include "Version.h"

1 VERSIONINFO
FILEVERSION     VERSION_NUMBER
PRODUCTVERSION  VERSION_NUMBER
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "CMT - Motores Termicos"
      VALUE "FileDescription", "OpenWAM -  the free, open source 1-dimensional gas-dynamic code produced by CMT- Motores Termicos of the Universitat Politecnica de Valencia"
      VALUE "FileVersion", VERSION_STRING "\0"
      VALUE "InternalName", "OpenWAM"
      VALUE "LegalCopyright", "(C) 2014 CMT - Motores Termicos.  Universitat Politecnica de Valencia"
      VALUE "OriginalFilename", "OpenWAM.exe"
      VALUE "ProductName", "OpenWAM"
      VALUE "ProductVersion", VERSION_STRING "\0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

101 ICON DISCARDABLE "Icon.ico"
